Repository SAP/spartacus, pull requests merged in 2018-10, with the labels that each got.

#30 SPA-1076: Add order details page implementation
  projects/storefrontlib/src/lib/my-account/order/order-details/order-details.component.html
  projects/storefrontlib/src/lib/my-account/order/order-details/order-details.component.scss
  projects/storefrontlib/src/lib/my-account/order/order-details/order-details.component.spec.ts
  projects/storefrontlib/src/lib/my-account/order/order-details/order-details.component.ts
  projects/storefrontlib/src/lib/my-account/order/order-details/order-details.module.ts
  projects/storefrontlib/src/lib/my-account/order/order-history/order-history.component.html
  projects/storefrontlib/src/lib/my-account/order/order-history/order-history.component.spec.ts
  projects/storefrontlib/src/lib/my-account/order/order-history/order-history.module.ts
  projects/storefrontlib/src/lib/my-account/order/order.module.ts
  projects/storefrontlib/src/lib/occ/order/order.service.ts
  projects/storefrontlib/src/lib/user/store/actions/index.ts
  projects/storefrontlib/src/lib/user/store/actions/order-details.action.spec.ts
  projects/storefrontlib/src/lib/user/store/actions/order-details.action.ts
  projects/storefrontlib/src/lib/user/store/actions/user-orders.action.spec.ts
  projects/storefrontlib/src/lib/user/store/effects/index.ts
  projects/storefrontlib/src/lib/user/store/effects/order-details.effect.spec.ts
  projects/storefrontlib/src/lib/user/store/effects/order-details.effect.ts
  projects/storefrontlib/src/lib/user/store/reducers/index.ts
  projects/storefrontlib/src/lib/user/store/reducers/order-details.reducer.spec.ts
  projects/storefrontlib/src/lib/user/store/reducers/order-details.reducer.ts
  projects/storefrontlib/src/lib/user/store/selectors/index.ts
  projects/storefrontlib/src/lib/user/store/selectors/order-details.selectors.spec.ts
  projects/storefrontlib/src/lib/user/store/selectors/order-details.selectors.ts
Labels: Team: GID2 (PO), type: user story

#29 SPA-976: added-to-cart unit tests
  projects/storefrontlib/src/lib/cart/components/add-to-cart/added-to-cart-dialog/added-to-cart-dialog.component.spec.ts
Labels: Team: GID2 (PO), type: user story

#31 SPA-1117: Add viewMode unit test to product-list
  projects/storefrontlib/src/lib/product/components/product-list/container/product-list.component.spec.ts
Labels: Team: GID2 (PO), type: user story

#37 Add zIndex to search input / SPA-1410
  projects/storefrontlib/src/lib/cms-lib/search-box/search-box.component.scss
Labels: Team Poland, epic: search

#39 Resolve all comments and TODO's in E2E tests / SPA-1391
  projects/storefrontapp-e2e/src/custom-locators.ts
  projects/storefrontapp-e2e/src/page-objects/cart/cart.po.ts
  projects/storefrontapp-e2e/src/page-objects/cmslib/added-to-cart-modal.po.ts
  projects/storefrontapp-e2e/src/page-objects/cmslib/autocomplete-panel.po.ts
  projects/storefrontapp-e2e/src/page-objects/cmslib/header.po.ts
  projects/storefrontapp-e2e/src/page-objects/login/login.helper.ts
  projects/storefrontapp-e2e/src/suites/big-happy-path.e2e-spec.ts
  projects/storefrontapp-e2e/src/suites/cart.e2e-spec.ts
  projects/storefrontapp-e2e/src/suites/product-search.e2e-spec.ts
  projects/storefrontlib/src/lib/routing/routing.module.ts
Labels: Team Poland, epic: e2e tests

#28 Fix test command for core and storefrontlib / SPA-1409
  build.sh
  package.json
  projects/core/karma.conf.js
  yarn.lock
Labels: Team Poland, type: bug

#141 E2E test for language switch
  projects/storefrontapp-e2e/src/page-objects/cmslib/header.po.ts
  projects/storefrontapp-e2e/src/suites/language.e2e-spec.ts
Labels: Team Poland, epic: e2e tests

#41 Updating release scripts Feature/spa 1335
  deploy-styles.sh
  deploy.sh
  release-styles.sh
  release.sh
Labels: Team Gladiators, epic: pipeline

#147 Currency E2E
  projects/storefrontapp-e2e/src/page-objects/cmslib/header.po.ts
  projects/storefrontapp-e2e/src/page-objects/product-details.po.ts
  projects/storefrontapp-e2e/src/suites/currency.e2e-spec.ts
Labels: Team Poland, epic: e2e tests

#143 Fix 'facets of undefined' error in search view
  projects/storefrontlib/src/lib/product/components/product-list/product-facet-navigation/product-facet-navigation.component.ts
  projects/storefrontlib/src/lib/product/components/product-list/product-list-item/product-list-item.component.html
Labels: Team Poland
