Repository SAP/spartacus, pull requests merged in 2019-02, with the labels that each got.

#1077 Testing cypress framework
  build.sh
  ci-scripts/e2e-cypress.sh
  package.json
  projects/storefrontapp-e2e-cypress/.gitignore
  projects/storefrontapp-e2e-cypress/cypress.json
  projects/storefrontapp-e2e-cypress/cypress/integration/big-happy-path.ts
  projects/storefrontapp-e2e-cypress/cypress/plugins/cy-ts-preprocessor.js
  projects/storefrontapp-e2e-cypress/cypress/plugins/index.js
  projects/storefrontapp-e2e-cypress/cypress/sample-data/big-happy-path.ts
  projects/storefrontapp-e2e-cypress/cypress/support/commands.ts
  projects/storefrontapp-e2e-cypress/cypress/support/forms.commands.ts
  projects/storefrontapp-e2e-cypress/cypress/support/general.commands.ts
  projects/storefrontapp-e2e-cypress/cypress/support/index.js
  projects/storefrontapp-e2e-cypress/cypress/tsconfig.json
  projects/storefrontapp-e2e-cypress/package.json
  projects/storefrontapp-e2e-cypress/yarn.lock
Labels: epic/cypressmigration

#1300 Update compatibility release notes for feb 13
  docs/compatibilty.md
Labels: type/doc

#1396 fix(@spartacus/storefront: make visual line in top header optional
  projects/storefrontlib/src/lib/cms-lib/link/link.component.scss
  projects/storefrontlib/src/lib/cms-lib/mini-cart/mini-cart.component.scss
  projects/storefrontlib/src/lib/cms-lib/site-context-selector/site-context-selector.component.scss
  projects/storefrontlib/src/lib/cms/components/dynamic-slot/dynamic-slot.component.ts
  projects/storefrontlib/src/lib/ui/layout/header/header.component.scss
  projects/storefrontstyles/scss/misc/_hamburger.scss
Labels: z/header
