Repository SAP/spartacus, pull requests merged in 2020-01, with the labels that each got.

#6158 test: cart e2e tests failing (GH-6146)
  projects/storefrontapp-e2e-cypress/cypress/helpers/cart.ts
Labels: 1.5-e2e

#6247 test: Smoke test - product search e2e test failing (GH-6245)
  projects/storefrontapp-e2e-cypress/cypress/helpers/product-search.ts
Labels: 1.5-e2e, e2e-tests, search

#6334 fix: Fix partial emissions of product scopes (#6328)
  projects/core/src/product/services/product-loading.service.spec.ts
  projects/core/src/product/services/product-loading.service.ts
Labels: bug
