Repository SAP/spartacus, pull requests merged in 2021-02, with the labels that each got.

#10947 refactor: improve CartItemContext and ProductListItemContext
  feature-libs/product-configurator/common/components/configurator-cart-entry-info/configurator-cart-entry-info.component.html
  feature-libs/product-configurator/common/components/configurator-cart-entry-info/configurator-cart-entry-info.component.spec.ts
  feature-libs/product-configurator/common/components/configurator-cart-entry-info/configurator-cart-entry-info.component.ts
  feature-libs/product-configurator/common/components/configurator-issues-notification/configurator-issues-notification.component.html
  feature-libs/product-configurator/common/components/configurator-issues-notification/configurator-issues-notification.component.spec.ts
  feature-libs/product-configurator/common/components/configurator-issues-notification/configurator-issues-notification.component.ts
  feature-libs/product-configurator/common/components/configure-product/configure-product.component.spec.ts
  feature-libs/product-configurator/common/components/configure-product/configure-product.component.ts
  projects/storefrontlib/src/cms-components/cart/cart-shared/cart-item/cart-item-component.model.ts
  projects/storefrontlib/src/cms-components/cart/cart-shared/cart-item/cart-item.component.spec.ts
  projects/storefrontlib/src/cms-components/cart/cart-shared/cart-item/cart-item.component.ts
  projects/storefrontlib/src/cms-components/cart/cart-shared/cart-item/index.ts
  projects/storefrontlib/src/cms-components/cart/cart-shared/cart-item/model/cart-item-component-outlets.model.ts
  projects/storefrontlib/src/cms-components/cart/cart-shared/cart-item/model/cart-item-context-source.model.spec.ts
  projects/storefrontlib/src/cms-components/cart/cart-shared/cart-item/model/cart-item-context-source.model.ts
  projects/storefrontlib/src/cms-components/cart/cart-shared/cart-item/model/cart-item-context.model.ts
  projects/storefrontlib/src/cms-components/cart/cart-shared/cart-item/model/index.ts
  projects/storefrontlib/src/cms-components/product/index.ts
  projects/storefrontlib/src/cms-components/product/product-list-item-context.spec.ts
  projects/storefrontlib/src/cms-components/product/product-list-item-context.ts
  projects/storefrontlib/src/cms-components/product/product-list/index.ts
  projects/storefrontlib/src/cms-components/product/product-list/model/index.ts
  projects/storefrontlib/src/cms-components/product/product-list/model/product-list-item-context-source.model.spec.ts
  projects/storefrontlib/src/cms-components/product/product-list/model/product-list-item-context-source.model.ts
  projects/storefrontlib/src/cms-components/product/product-list/model/product-list-item-context.model.ts
  projects/storefrontlib/src/cms-components/product/product-list/product-grid-item/product-grid-item.component.spec.ts
  projects/storefrontlib/src/cms-components/product/product-list/product-grid-item/product-grid-item.component.ts
  projects/storefrontlib/src/cms-components/product/product-list/product-list-item/product-list-item.component.spec.ts
  projects/storefrontlib/src/cms-components/product/product-list/product-list-item/product-list-item.component.ts
Labels: listings, outlets, vc/cart-integration

#11064 feat: Add debug logs for SSR Optimization Engine
  core-libs/setup/ssr/optimized-engine/optimized-ssr-engine.ts
  core-libs/setup/ssr/optimized-engine/ssr-optimization-options.ts
Labels: ssr

#11106 Update email domain name of test users
  projects/storefrontapp-e2e-cypress/cypress/helpers/user.ts
Labels: e2e-tests

#11267 feat: Save cart UI #9191
  .env-cmdrc
  feature-libs/cart/saved-cart/assets/translations/en/saved-cart.i18n.ts
  feature-libs/cart/saved-cart/assets/translations/translations.ts
  feature-libs/cart/saved-cart/components/add-to-saved-cart/add-to-saved-cart.component.html
  feature-libs/cart/saved-cart/components/add-to-saved-cart/add-to-saved-cart.component.spec.ts
  feature-libs/cart/saved-cart/components/add-to-saved-cart/add-to-saved-cart.component.ts
  feature-libs/cart/saved-cart/components/add-to-saved-cart/add-to-saved-cart.module.ts
  feature-libs/cart/saved-cart/components/add-to-saved-cart/index.ts
  feature-libs/cart/saved-cart/components/saved-cart-components.module.ts
  feature-libs/cart/saved-cart/components/saved-cart-form/index.ts
  feature-libs/cart/saved-cart/components/saved-cart-form/saved-cart-form.component.html
  feature-libs/cart/saved-cart/components/saved-cart-form/saved-cart-form.component.spec.ts
  feature-libs/cart/saved-cart/components/saved-cart-form/saved-cart-form.component.ts
  feature-libs/cart/saved-cart/components/saved-cart-form/saved-cart-form.config.ts
  feature-libs/cart/saved-cart/components/saved-cart-form/saved-cart-form.module.ts
  feature-libs/cart/saved-cart/components/saved-cart.config.ts
  feature-libs/cart/saved-cart/core/services/index.ts
  feature-libs/cart/saved-cart/core/services/saved-cart.service.spec.ts
  feature-libs/cart/saved-cart/core/services/saved-cart.service.ts
  feature-libs/cart/saved-cart/styles/_index.scss
  feature-libs/cart/saved-cart/styles/components/_add-to-saved-cart.scss
  feature-libs/cart/saved-cart/styles/components/_index.scss
  feature-libs/cart/saved-cart/styles/components/_saved-cart-form.scss
  projects/storefrontapp/src/environments/environment.ts
  projects/storefrontlib/src/layout/launch-dialog/config/launch-config.ts
Labels: saved-carts
