Repository SAP/spartacus, pull requests merged in 2021-09, with the labels that each got.

#13658 feat: Added new message behavior on quick order page
  feature-libs/cart/quick-order/assets/translations/en/quick-order.i18n.ts
  feature-libs/cart/quick-order/components/quick-order/quick-order.component.html
  feature-libs/cart/quick-order/components/quick-order/quick-order.component.spec.ts
  feature-libs/cart/quick-order/components/quick-order/quick-order.component.ts
  feature-libs/cart/quick-order/core/services/quick-order.service.ts
  feature-libs/cart/quick-order/root/facade/quick-order.facade.ts
  feature-libs/cart/quick-order/root/index.ts
  feature-libs/cart/quick-order/root/models/index.ts
  feature-libs/cart/quick-order/root/models/quick-order.model.ts
  feature-libs/cart/quick-order/styles/_quick-order.scss
  projects/storefrontapp-e2e-cypress/cypress/helpers/b2b/b2b-quick-order.ts
  projects/storefrontapp-e2e-cypress/cypress/integration/b2b/regression/quick-order/b2b-quick-order.e2e-spec.ts
Labels: quick-order

#13671 fix: cx-item-counter width issue on mac (#13579)
  projects/storefrontstyles/scss/components/cart/_item-counter.scss
Labels: bug

#13685 fix: Added a check downstream to prevent PT from being added twice (GH-13684)
  integration-libs/cds/src/profiletag/services/profiletag-event.service.spec.ts
  integration-libs/cds/src/profiletag/services/profiletag-event.service.ts
Labels: cds

#13746 feat: Replace search by sku with query and box with results
  feature-libs/cart/quick-order/assets/translations/en/quick-order.i18n.ts
  feature-libs/cart/quick-order/components/cart-quick-order-form/cart-quick-order-form.component.spec.ts
  feature-libs/cart/quick-order/components/cart-quick-order-form/cart-quick-order-form.component.ts
  feature-libs/cart/quick-order/components/quick-order/form/quick-order-form.component.html
  feature-libs/cart/quick-order/components/quick-order/form/quick-order-form.component.spec.ts
  feature-libs/cart/quick-order/components/quick-order/form/quick-order-form.component.ts
  feature-libs/cart/quick-order/components/quick-order/quick-order.component.spec.ts
  feature-libs/cart/quick-order/core/services/quick-order.service.spec.ts
  feature-libs/cart/quick-order/core/services/quick-order.service.ts
  feature-libs/cart/quick-order/root/config/default-quick-order-form.config.ts
  feature-libs/cart/quick-order/root/config/index.ts
  feature-libs/cart/quick-order/root/config/quick-order-form-config.ts
  feature-libs/cart/quick-order/root/facade/quick-order.facade.ts
  feature-libs/cart/quick-order/root/index.ts
  feature-libs/cart/quick-order/root/quick-order-root.module.ts
  feature-libs/cart/quick-order/styles/_quick-order-form.scss
  projects/storefrontapp-e2e-cypress/cypress/helpers/b2b/b2b-quick-order.ts
  projects/storefrontapp-e2e-cypress/cypress/integration/b2b/regression/quick-order/b2b-quick-order.e2e-spec.ts
  projects/storefrontapp/src/environments/environment.ts
Labels: quick-order
